name: GitHub Action Demo
on:
  push:
    branches:
      - main
    paths:
      - '!ActionFundamentals/.github'
  pull_request:
    branches:
      - main
  schedule:
    - cron: 15 6 * * 0
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "${{github.event_name}}"'
      - run: 'echo "${{ github.ref }}"'
      - run: 'echo "The repository ${{ github.repository }} contains the following files: " ls .
